[Desktop Entry]
Comment=Simple CPU Sensor
Encoding=UTF-8
Icon=utilities-system-monitor
Name=Simple CPU Sensor
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service
X-KDE-PluginInfo-Author=Alex Oleshkevich
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=plasma-scriptengine-python
X-KDE-PluginInfo-Email=alex.oleshkevich@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=simple-cpu-sensor
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://kde-look.org/
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=code/main.py
