[Desktop Entry]
Comment=Simple CPU Sensor
Encoding=UTF-8
Icon=utilities-system-monitor
Keywords=
Name=Simple CPU Sensor
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alex Oleshkevich
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=alex.oleshkevich@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=simple-cpu-sensor
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/alex-oleshkevich/simple-cpu-sensor
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=290,340
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-RemoteLocation=
